{% extends "base.html" %}
{% block content %}
    <label style="color: rgba(0, 0, 0, 0.603); font-size: 10mm;"> SEZNAM FILMU</label><br>
    {% for film in filmy %}
        <a href={% url "filmovy_detail" film.id %}> Název: {{film.nazev}}  <br> </a>
        <br>
    {% endfor %}
    <select name="test">
         <option value="jb">jablko</option>
         <option value="hr">hruska</option>
         <option value="ba">banan</option>
         <option value="ci">citron</option>
    </select>

{% endblock %}