{% extends "baseWT.html" %}
{% load staticfiles %}
{% block content %}
    <header>
        <h1>O mně</h1></br>
        <h3><p>
            Průmyslovou automatizací se zabývám již od roku 2007.       
            Za tu dobu jsem prošel řadou firem poskytujících       
            komplexní řešení pro výrobní průmysl. Zpočátku to
            byly velké nadnárodní korporace, které poskytovaly
            ucelené služby napříč všemi průmyslovými odvětvími,    
            ale také menší firmy, které se soustředily na dodávku
            jednoúčelových prototypů sestrojených a naprogramovaných     
            na míru požadavkům objednatele. Posledních 5 let pracuji      
            ve výrobní společnosti, kde pomáhám týmu údržby s   
            diagnostikou a odstraňováním poruch na automatizovaných     
            strojích a rovněž se zabývám úpravami vedoucími ke      
            zlepšování výrobních procesů napříč všemi odděleními...               
        </p></h3>
    </header>
    <section class="kontakt">   
        </br></br>  
        <h1>Jan Žídek</h1>
        <h1>Tel.: +420 737 215 844</h1>
        <h1>Email: zidekjan@seznam.cz</h1>
        <h1>Frýdek-Místek, 738 01</h1>   
        <h1>Česká Republika</h1>        
        </br></br>
        
    </section>

    

{% endblock %}