{% extends "baseWT.html" %}
{% block content %}

    <header>
        <h1>Linkové grafy</h1>
    </header>
    <section>     
        <h1>Linkový graf</h1>
        {{div|safe}}
        <script text="type/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.1.1.min.js"></script>
        <script text="type/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.1.1.min.js"></script>  
        <script text="type/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.1.1.min.js"></script>
        <script type="text/javascript" href='https://cdn.bokeh.org/bokeh/release/bokeh-api-2.1.1.min.js'></script>
        {{script|safe}}
        {{div1|safe}}
        {{script1|safe}}
    </section>
{% endblock %}
