{% extends "baseWT.html" %}
{% load staticfiles %}
{% block content %}
    
    <header>
        <h1>PLC</h1>
        <h3><p>
            Specializuji se na PLC značky <strong>Siemens:</strong>
            <ul><u>Řady:</u>
                <li>LOGO!</li>
                <li>S7-300</li>
                <li>S7-400</li>
                <li>S7-1200</li>
                <li>S7-1500</li>
            </ul> 
            <ul><u>Vývojové prostředí:</u>
                <li>Step7 v5.6</li>
                <li>TIA portal v12</li>
                <li>TIA portal v13</li>
                <li>TIA portal v14</li>
                <li>TIA portal v15</li>
                <li>TIA portal v16</li>
                <li>LOGO! Soft Comfort v8.2</li>
            </ul>
            Okrajově programuji také PLC značky <strong>Fatek</strong>
        </p></h3>
    </header>
    <section>  
        <meta http-equiv="Refresh" content="5"> 
        <table class="test" align="center">
            <tbody class="test">
                <tr class="test">
                    <td><img src={% static s %} alt=""></td>
                </tr>
            </tbody>
        </table>
    </section>

{% endblock %}